In [1]:
import pandas as pd

In [ ]:
df = pd.DataFrame([
    {"Imię": "Jan", "Wiek": 25, "Miasto": "Warszawa"},
    {"Imię": "Anna", "Wiek": 30, "Miasto": "Kraków"},
    {"Imię": "Tomasz", "Wiek": 35, "Miasto": "Gdańsk"}
])

       Wiek
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0